html {
    overflow:hidden;
    overflow-y:auto;
    max-height:600px;
}

body {
    overflow:hidden;
    overflow-y:auto;
    min-width:400px;
    min-height:200px;
    max-width:600px;
    max-height:600px;
    background-color:#363b3e;
    color:#fff;
    font-size:11pt;
    font-family:"Open Sans",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing:subpixel-antialiased;
}

button:focus {
    outline:none;
}

/*#multi {
    padding-top:6px;
    padding-bottom:6px;
    border-top:solid thin #23b443;
    border-bottom:solid thin #23b443;
    background-color:#23c947;
    box-shadow:0 0 20px rgba(0,0,0,1);
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 1px #000;
}*/

.error {
    display:none;
    margin-top:25px;
    margin-bottom:25px;
    padding-top:6px;
    padding-bottom:6px;
    border-top:solid thin #f7685a;
    border-bottom:solid thin #f7685a;
    background-color:#e73827;
    box-shadow:0 0 20px rgba(0,0,0,1);
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 1px #000;
}

.useful-links {
    width:100%;
    color:#FFF;
    text-align:center;
}

.useful-button {
    /*height:35px;*/
    padding: 10px;
    border:solid thin #115b8c;
    background-color:#2990ea;
    box-shadow:inset 1px 0 1px rgba(255,255,255,0.15);
    vertical-align:middle;
    text-shadow:0 -1px 1px #000;
}

.useful-button:hover {
    background-color:#1978c7;
    box-shadow:inset 1px 0 1px rgba(0,0,0,0.05);
    cursor:pointer;
}

.light-bg {
    padding:5px;
    border-top:1px solid #272b2e;
    border-bottom:1px solid #272b2e;
    background-color:#586065;
    box-shadow:inset 0 1px 1px rgba(255,255,255,0.06),inset 0 -1px 1px rgba(255,255,255,0.09),0 1px 2px rgba(0,0,0,0.25);
    text-align:center;
    text-shadow:0 -1px 1px #000;
    font-size:1.2em;
}

.ticket-stats {
	white-space: nowrap;
	font-size:0.8em;
}

.button-container {
	text-align:right;
}

.stat-button {
    border:solid thin #000;
	border:solid thin rgba(0,0,0,0.3);
	background-color:#656F75;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.06),inset 0 -1px 1px rgba(255,255,255,0.09),0 1px 2px rgba(0,0,0,0.25);
	color:#fff;
	text-align:center;
	text-shadow:0 -1px 1px #000;
	/*font-size:0.8em;*/
	padding:5px;
}

.reset-button {
	background-color: #e73827;
}

.plus-button {
	background-color: #19af15;
}

.stats-table {
	width:100%;
}

.stats-label {
	color:#ccc;
	text-align:right;
}

.stats-value {
	text-align:left;
}

td {
    padding:3px 4px;
}

.user-info .odd {
    background-color:#2d3133;
    box-shadow:inset 0 0 2px rgba(255,255,255,0.2);
}

.user-info td:first-child {
    border-right:solid thin #000;
    border-right:solid thin rgba(0,0,0,0.1);
    vertical-align:middle;
    white-space:nowrap;
}

.sites-table td:first-child {
    border-right:solid thin #000;
    border-right:solid thin rgba(0,0,0,0.1);
    text-align:left;
}

.sites-table tr td {
    vertical-align:middle;
    text-align:center;
    line-height:20px;
}

.sites-table tr td a {
    color:#2990ea;
    text-decoration:none;
}

.sites-table tr td a:hover {
    color:#1980da;
}

.sites-table tr td span {
    color:#888;
}

.sites-table a.edit-site-btn {
    display:inline-block;
    padding:0 8.4px;
    height:auto;
    border:1px solid #1476cc;
    border-radius:4px;
    background-image:linear-gradient(to bottom,#2990ea,#208be9);
    box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
    color:#fff;
    text-align:center;
    text-decoration:none;
    text-shadow:#1476cc 0 -1px 1px;
    font-weight:400;
    font-size:14px;
    line-height:26px;
    cursor:pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

.sites-table a.edit-site-btn:hover {
    background-image:linear-gradient(to bottom,#107bd9,#1980da);
    color:#fff;
    text-decoration:none;
}

.table {
    width:100%;
}#ticketStats {	display:none;}